body {
	background-color: #ffcc99;


	}




h1 {
	color: #000000;
	font-size: 3em;
	text-decoration: ;
	margin-top: -20px;
	}
h1 {
	background: url(https://kodus.ee/sites/default/files/styles/article_full/public/field/image/shutterstock_549625975.jpg);
	width: 1400px;
	height: 200px;
	text-align:center;
}



p {
	color: #32CD32



