body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
    display: block;
    margin: 0 auto;
}

#date {
  color: cornflowerblue;
  writing-mode: vertical-rl;
}
