body {
  background-image: url("https://pixelz.cc/images/counter-strike-global-offensive-uhd-4k-wallpaper/");
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
    display: block;
    margin: 0 auto;
}
